[Unit]
Description=HALO Management Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=exec
Restart=always
RestartSec=1
User=root
ExecStart=/usr/sbin/halo_manager
EnvironmentFile=-/etc/sysconfig/halo

[Install]
WantedBy=multi-user.target
